In [67]:
import numpy as np
import pandas as pd
import glob
from pprint import pprint

pd.set_option('display.max_columns',None)

#Import Data
path = r'/homes/chh30/ECS784-PROJECT/sourcedata'
filenames = glob.glob(path+"/*.csv")

frame = pd.DataFrame

list = []

for file_ in filenames:
     df = pd.read_csv(file_,index_col=None,encoding = "ISO-8859-1",header=0)
     list.append(df)

frame = pd.concat(list,ignore_index=True,sort=False)

frame.head()
print(frame.shape)

(10216388, 15)

In [68]:
#Clean Data

frame.dropna(axis=0, subset=["Rental Id",
                             "Start Date",
                             "StartStation Id",
                             "StartStation Name",
                             "End Date",
                             "EndStation Id",
                             "Duration"], inplace=True)

frame["Rental Id"] = frame["Rental Id"].astype(int)
frame["EndStation Id"] = frame["EndStation Id"].astype(int)
frame["StartStation Id"] = frame["StartStation Id"].astype(int)

frame = frame[frame["StartStation Id"] != frame["EndStation Id"]]

frame = frame.loc[:,('Start Date',
                           'StartStation Id',
                           'End Date',
                           'EndStation Id',
                           'Duration')]

## Extra drop for duplicates
frame.drop_duplicates(inplace=True)
print(frame.shape)

print(frame)

(8998174, 5)
                Start Date  StartStation Id          End Date  EndStation Id  \
0         28/12/2016 10:35               14  28/12/2016 10:48            427
1         28/12/2016 16:17               71  28/12/2016 16:27             14
3         31/12/2016 10:52              723  31/12/2016 10:57            621
4         30/12/2016 17:33              723  30/12/2016 17:37            621
5         29/12/2016 17:11              358  29/12/2016 17:21            214
6         29/12/2016 16:31              732  29/12/2016 16:52            335
7         29/12/2016 08:52               69  29/12/2016 09:17            278
8         28/12/2016 10:56              644  28/12/2016 11:05            302
9         29/12/2016 09:59               14  29/12/2016 10:12             64
10        31/12/2016 13:48              125  31/12/2016 13:59            136
11        29/12/2016 14:42              490  29/12/2016 14:44             46
12        29/12/2016 18:34              490  29/12/2016 18:40            552
13        30/12/2016 13:23              202  30/12/2016 13:41            272
14        30/12/2016 11:44              510  30/12/2016 12:01            490
15        29/12/2016 11:10              510  29/12/2016 11:24            500
16        29/12/2016 12:21              282  29/12/2016 12:28            202
17        31/12/2016 13:19              488  31/12/2016 13:23             46
18        31/12/2016 13:41               46  31/12/2016 13:45            488
19        30/12/2016 19:54              458  30/12/2016 20:00            452
20        30/12/2016 20:23              452  30/12/2016 20:28            488
21        28/12/2016 07:50              488  28/12/2016 08:03            217
22        29/12/2016 08:00              488  29/12/2016 08:13            217
23        30/12/2016 17:39              217  30/12/2016 17:55            488
24        30/12/2016 07:45              488  30/12/2016 07:59            217
25        29/12/2016 18:26              104  29/12/2016 18:37            488
26        29/12/2016 14:39              276  29/12/2016 14:54            488
27        30/12/2016 11:14              488  30/12/2016 11:17             46
28        30/12/2016 11:40               46  30/12/2016 11:43            488
29        29/12/2016 12:38              488  29/12/2016 12:42            449
30        28/12/2016 14:16              488  28/12/2016 14:18            458
...                    ...              ...               ...            ...
10216348  17/05/2016 23:50               23  17/05/2016 23:54            264
10216349  17/05/2016 23:51              193  17/05/2016 23:56            317
10216352  17/05/2016 23:51              288  18/05/2016 00:03            641
10216353  17/05/2016 23:52              303  18/05/2016 00:22            135
10216354  17/05/2016 23:52              373  18/05/2016 00:06            761
10216355  17/05/2016 23:52              549  18/05/2016 00:01            305
10216356  17/05/2016 23:52                5  18/05/2016 00:00            680
10216360  17/05/2016 23:53              707  17/05/2016 23:56            696
10216361  17/05/2016 23:53               37  18/05/2016 00:02            727
10216362  17/05/2016 23:53               32  18/05/2016 00:06            465
10216363  17/05/2016 23:53              553  18/05/2016 00:11            520
10216364  17/05/2016 23:54              327  17/05/2016 23:58             42
10216365  17/05/2016 23:54              378  18/05/2016 00:03            700
10216366  17/05/2016 23:54              553  18/05/2016 00:02            531
10216367  17/05/2016 23:54              267  17/05/2016 23:59            185
10216368  17/05/2016 23:55              225  18/05/2016 00:00            758
10216369  17/05/2016 23:55              329  18/05/2016 00:01            286
10216371  17/05/2016 23:55              682  17/05/2016 23:59            707
10216373  17/05/2016 23:55              773  18/05/2016 00:04            706
10216375  17/05/2016 23:55               73  18/05/2016 00:02            533
10216376  17/05/2016 23:56              755  18/05/2016 00:03            701
10216377  17/05/2016 23:56              407  18/05/2016 00:19            320
10216378  17/05/2016 23:56              331  18/05/2016 00:04            544
10216379  17/05/2016 23:56                4  18/05/2016 00:04            364
10216380  17/05/2016 23:57              815  18/05/2016 00:03            317
10216381  17/05/2016 23:57              670  18/05/2016 00:05            744
10216382  17/05/2016 23:57              486  18/05/2016 00:20            520
10216383  17/05/2016 23:57              206  18/05/2016 00:02            202
10216385  17/05/2016 23:57              188  18/05/2016 00:04            210
10216387  17/05/2016 23:59              666  18/05/2016 00:06            626

          Duration
0            780.0
1            600.0
3            300.0
4            240.0
5            600.0
6           1260.0
7           1500.0
8            540.0
9            780.0
10           660.0
11           120.0
12           360.0
13          1080.0
14          1020.0
15           840.0
16           420.0
17           240.0
18           240.0
19           360.0
20           300.0
21           780.0
22           780.0
23           960.0
24           840.0
25           660.0
26           900.0
27           180.0
28           180.0
29           240.0
30           120.0
...            ...
10216348     240.0
10216349     300.0
10216352     720.0
10216353    1800.0
10216354     840.0
10216355     540.0
10216356     480.0
10216360     180.0
10216361     540.0
10216362     780.0
10216363    1080.0
10216364     240.0
10216365     540.0
10216366     480.0
10216367     300.0
10216368     300.0
10216369     360.0
10216371     240.0
10216373     540.0
10216375     420.0
10216376     420.0
10216377    1380.0
10216378     480.0
10216379     480.0
10216380     360.0
10216381     480.0
10216382    1380.0
10216383     300.0
10216385     420.0
10216387     420.0

[8998174 rows x 5 columns]

In [69]:
# Missing data checking

missing_data = frame.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Start Date
False    8998174
Name: Start Date, dtype: int64

StartStation Id
False    8998174
Name: StartStation Id, dtype: int64

End Date
False    8998174
Name: End Date, dtype: int64

EndStation Id
False    8998174
Name: EndStation Id, dtype: int64

Duration
False    8998174
Name: Duration, dtype: int64

In [76]:
import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
frame.groupby(['StartStation Id']).size().reset_index(name='Rental_Counts').nlargest(5,columns='Rental_Counts').tail(5)

     StartStation Id  Rental_Counts
13                14          93139
151              154          77993
362              374          56605
187              191          46982
211              217          45234

In [90]:
singleStationData = frame[frame['StartStation Id']==14]
print(singleStationData.shape)
singleStationData

(93139, 5)

,Start Date,StartStation Id,End Date,EndStation Id,Duration
0,28/12/2016 10:35,14,28/12/2016 10:48,427,780.0
9,29/12/2016 09:59,14,29/12/2016 10:12,64,780.0
61,29/12/2016 09:37,14,29/12/2016 09:52,325,900.0
62,28/12/2016 09:20,14,28/12/2016 09:35,325,900.0
164,28/12/2016 07:46,14,28/12/2016 08:09,779,1380.0
968,31/12/2016 13:05,14,31/12/2016 13:13,135,480.0
1092,29/12/2016 07:42,14,29/12/2016 07:58,408,960.0
1093,28/12/2016 07:42,14,28/12/2016 07:59,410,1020.0
1097,30/12/2016 07:43,14,30/12/2016 08:00,410,1020.0
1308,29/12/2016 09:01,14,29/12/2016 09:15,120,840.0
1309,28/12/2016 09:04,14,28/12/2016 09:17,120,780.0
1311,30/12/2016 09:03,14,30/12/2016 09:14,120,660.0
1814,28/12/2016 08:45,14,28/12/2016 09:00,421,900.0
1877,29/12/2016 08:16,14,29/12/2016 08:32,645,960.0
1880,28/12/2016 08:16,14,28/12/2016 08:35,645,1140.0
1906,30/12/2016 08:46,14,30/12/2016 09:02,421,960.0
1908,29/12/2016 09:22,14,29/12/2016 09:36,421,840.0
2017,29/12/2016 08:47,14,29/12/2016 09:01,215,840.0
2103,30/12/2016 16:40,14,30/12/2016 16:51,18,660.0
2116,30/12/2016 23:13,14,30/12/2016 23:27,695,840.0
2125,30/12/2016 07:42,14,30/12/2016 07:57,71,900.0
2126,28/12/2016 07:39,14,28/12/2016 07:54,71,900.0
2158,29/12/2016 16:37,14,29/12/2016 16:53,361,960.0
2159,30/12/2016 15:35,14,30/12/2016 16:00,815,1500.0
2162,28/12/2016 16:26,14,28/12/2016 16:41,154,900.0
2220,28/12/2016 23:21,14,28/12/2016 23:26,439,300.0
2490,28/12/2016 17:58,14,28/12/2016 18:06,436,480.0
2552,30/12/2016 08:28,14,30/12/2016 08:34,264,360.0
2656,28/12/2016 09:00,14,28/12/2016 09:05,22,300.0
3006,29/12/2016 18:42,14,29/12/2016 18:49,204,420.0
...,...,...,...,...,...
10205967,17/05/2016 17:51,14,17/05/2016 18:16,159,1500.0
10206484,17/05/2016 17:59,14,17/05/2016 18:12,574,780.0
10206828,17/05/2016 18:03,14,17/05/2016 18:11,88,480.0
10207324,17/05/2016 18:09,14,17/05/2016 18:38,412,1740.0
10207358,17/05/2016 18:09,14,17/05/2016 18:17,22,480.0
10207677,17/05/2016 18:13,14,17/05/2016 18:35,127,1320.0
10207708,17/05/2016 18:14,14,17/05/2016 18:24,264,600.0
10207829,17/05/2016 18:15,14,17/05/2016 18:32,83,1020.0
10208093,17/05/2016 18:19,14,17/05/2016 18:31,581,720.0
10208675,17/05/2016 18:27,14,17/05/2016 18:47,357,1200.0
10208845,17/05/2016 18:30,14,17/05/2016 18:36,28,360.0
10209014,17/05/2016 18:32,14,17/05/2016 19:18,768,2760.0
10210930,17/05/2016 19:05,14,17/05/2016 19:15,71,600.0
10211673,17/05/2016 19:21,14,17/05/2016 19:27,22,360.0
10212280,17/05/2016 19:37,14,17/05/2016 19:49,365,720.0
10212390,17/05/2016 19:40,14,17/05/2016 19:43,11,180.0
10212470,17/05/2016 19:43,14,17/05/2016 20:08,91,1500.0
10212626,17/05/2016 19:48,14,17/05/2016 19:52,16,240.0
10212844,17/05/2016 19:54,14,17/05/2016 20:07,457,780.0
10212865,17/05/2016 19:55,14,17/05/2016 20:01,22,360.0
10212974,17/05/2016 19:58,14,17/05/2016 20:15,96,1020.0
10213345,17/05/2016 20:12,14,17/05/2016 20:20,135,480.0
10214457,17/05/2016 21:03,14,17/05/2016 21:18,107,900.0
10214631,17/05/2016 21:12,14,17/05/2016 21:31,718,1140.0
10214764,17/05/2016 21:19,14,17/05/2016 21:45,462,1560.0
10215155,17/05/2016 21:45,14,17/05/2016 21:51,804,360.0
10215346,17/05/2016 21:59,14,17/05/2016 22:05,204,360.0
10215402,17/05/2016 22:03,14,17/05/2016 22:13,71,600.0
10215501,17/05/2016 22:10,14,17/05/2016 22:20,246,600.0
10216104,17/05/2016 23:10,14,17/05/2016 23:27,7,1020.0

SyntaxError: invalid syntax (<ipython-input-91-5673caccf6ae>, line 1)