In [10]:
import numpy as np
import pandas as pd
import glob

pd.set_option('display.max_columns',None)

#Import Data
path = r'/homes/chh30/ECS784-PROJECT/sourcedata'
filenames = glob.glob(path+"/*.csv")

frame = pd.DataFrame

list = []

for file_ in filenames:
     df = pd.read_csv(file_,index_col=None,encoding = "ISO-8859-1",header=0)
     list.append(df)

frame = pd.concat(list,ignore_index=True,sort=False)

frame.head()

          Rental Id  Duration  Bike Id          End Date  EndStation Id  \
0          61346199     780.0   7947.0  28/12/2016 10:48          427.0
1          61351898     600.0  12756.0  28/12/2016 16:27           14.0
2          61343926    1080.0   6353.0  28/12/2016 07:37          475.0
3          61385580     300.0   5563.0  31/12/2016 10:57          621.0
4          61380909     240.0   9740.0  30/12/2016 17:37          621.0
5          61367576     600.0  14170.0  29/12/2016 17:21          214.0
6          61366810    1260.0   4588.0  29/12/2016 16:52          335.0
7          61358295    1500.0   7475.0  29/12/2016 09:17          278.0
8          61346507     540.0   4702.0  28/12/2016 11:05          302.0
9          61359193     780.0   3378.0  29/12/2016 10:12           64.0
10         61388438     660.0  14136.0  31/12/2016 13:59          136.0
11         61364313     120.0   6313.0  29/12/2016 14:44           46.0
12         61369164     360.0   2518.0  29/12/2016 18:40          552.0
13         61376723    1080.0  14407.0  30/12/2016 13:41          272.0
14         61375164    1020.0  11235.0  30/12/2016 12:01          490.0
15         61360095     840.0  11012.0  29/12/2016 11:24          500.0
16         61361354     420.0   3962.0  29/12/2016 12:28          202.0
17         61387916     240.0  13870.0  31/12/2016 13:23           46.0
18         61388284     240.0  13870.0  31/12/2016 13:45          488.0
19         61382449     360.0  13870.0  30/12/2016 20:00          452.0
20         61382657     300.0  13870.0  30/12/2016 20:28          488.0
21         61344136     780.0   7251.0  28/12/2016 08:03          217.0
22         61357582     780.0  10868.0  29/12/2016 08:13          217.0
23         61380988     960.0   2001.0  30/12/2016 17:55          488.0
24         61372338     840.0   2135.0  30/12/2016 07:59          217.0
25         61369050     660.0   7042.0  29/12/2016 18:37          488.0
26         61364265     900.0  13692.0  29/12/2016 14:54          488.0
27         61374669     180.0   8076.0  30/12/2016 11:17           46.0
28         61375084     180.0   8076.0  30/12/2016 11:43          488.0
29         61361711     240.0   4291.0  29/12/2016 12:42          449.0
...             ...       ...      ...               ...            ...
10216358   53959308    2580.0   5119.0  18/05/2016 00:35          553.0
10216359   53959309    2580.0   5388.0  18/05/2016 00:35          553.0
10216360   53959313     180.0   4757.0  17/05/2016 23:56          696.0
10216361   53959312     540.0   2057.0  18/05/2016 00:02          727.0
10216362   53959311     780.0   7429.0  18/05/2016 00:06          465.0
10216363   53959310    1080.0   7223.0  18/05/2016 00:11          520.0
10216364   53959317     240.0   5062.0  17/05/2016 23:58           42.0
10216365   53959316     540.0   7214.0  18/05/2016 00:03          700.0
10216366   53959315     480.0  11965.0  18/05/2016 00:02          531.0
10216367   53959314     300.0  14117.0  17/05/2016 23:59          185.0
10216368   53959322     300.0    754.0  18/05/2016 00:00          758.0
10216369   53959320     360.0   8073.0  18/05/2016 00:01          286.0
10216370   53959323       NaN   4672.0               NaN            NaN
10216371   53959324     240.0   4903.0  17/05/2016 23:59          707.0
10216372   53959321       NaN   5424.0               NaN            NaN
10216373   53959319     540.0  12565.0  18/05/2016 00:04          706.0
10216374   53959325    1560.0  10499.0  18/05/2016 00:21          228.0
10216375   53959318     420.0   8250.0  18/05/2016 00:02          533.0
10216376   53959327     420.0   2679.0  18/05/2016 00:03          701.0
10216377   53959330    1380.0  14020.0  18/05/2016 00:19          320.0
10216378   53959329     480.0   1559.0  18/05/2016 00:04          544.0
10216379   53959326     480.0   5496.0  18/05/2016 00:04          364.0
10216380   53959333     360.0   3076.0  18/05/2016 00:03          317.0
10216381   53959337     480.0  10291.0  18/05/2016 00:05          744.0
10216382   53959334    1380.0   7802.0  18/05/2016 00:20          520.0
10216383   53959335     300.0   7029.0  18/05/2016 00:02          202.0
10216384   53959332     300.0   1392.0  18/05/2016 00:02          202.0
10216385   53959336     420.0  12896.0  18/05/2016 00:04          210.0
10216386   53959339     720.0   7117.0  18/05/2016 00:11          749.0
10216387   53959338     420.0  10765.0  18/05/2016 00:06          626.0

                                EndStation Name        Start Date  \
0                               Cheapside, Bank  28/12/2016 10:35
1                Belgrove Street , King's Cross  28/12/2016 16:17
2                    Lightermans Road, Millwall  28/12/2016 07:19
3           Wandsworth Town Station, Wandsworth  31/12/2016 10:52
4           Wandsworth Town Station, Wandsworth  30/12/2016 17:33
5                     Endsleigh Gardens, Euston  29/12/2016 17:11
6               Tavistock Street, Covent Garden  29/12/2016 16:31
7                     Tooley Street, Bermondsey  29/12/2016 08:52
8                       Putney Pier, Wandsworth  28/12/2016 10:56
9                     William IV Street, Strand  29/12/2016 09:59
10            Queen Victoria Street, St. Paul's  31/12/2016 13:48
11                       Nesham Street, Wapping  29/12/2016 14:42
12                      Watney Street, Shadwell  29/12/2016 18:34
13                        Baylis Road, Waterloo  30/12/2016 13:23
14                   Pennington Street, Wapping  30/12/2016 11:44
15                        Ansell House, Stepney  29/12/2016 11:10
16                        Leman Street, Aldgate  29/12/2016 12:21
17                       Nesham Street, Wapping  31/12/2016 13:19
18                      Reardon Street, Wapping  31/12/2016 13:41
19                   St. Katharine's Way, Tower  30/12/2016 19:54
20                      Reardon Street, Wapping  30/12/2016 20:23
21            Wormwood Street, Liverpool Street  28/12/2016 07:50
22            Wormwood Street, Liverpool Street  29/12/2016 08:00
23                      Reardon Street, Wapping  30/12/2016 17:39
24            Wormwood Street, Liverpool Street  30/12/2016 07:45
25                      Reardon Street, Wapping  29/12/2016 18:26
26                      Reardon Street, Wapping  29/12/2016 14:39
27                       Nesham Street, Wapping  30/12/2016 11:14
28                      Reardon Street, Wapping  30/12/2016 11:40
29                   Shadwell Station, Shadwell  29/12/2016 12:38
...                                         ...               ...
10216358             Regent's Row , Haggerston   17/05/2016 23:52
10216359             Regent's Row , Haggerston   17/05/2016 23:52
10216360    Charing Cross Hospital, Hammersmith  17/05/2016 23:53
10216361                 Chesilton Road, Fulham  17/05/2016 23:53
10216362           Pitfield Street North,Hoxton  17/05/2016 23:53
10216363           Bancroft Road, Bethnal Green  17/05/2016 23:53
10216364                  Wenlock Road , Hoxton  17/05/2016 23:54
10216365       Battersea Church Road, Battersea  17/05/2016 23:54
10216366            Twig Folly Bridge, Mile End  17/05/2016 23:54
10216367               Alderney Street, Pimlico  17/05/2016 23:54
10216368       Westbourne Park Road, Portobello  17/05/2016 23:55
10216369  St. John's Wood Road, St. John's Wood  17/05/2016 23:55
10216370                                    NaN  17/05/2016 23:55
10216371  Barons Court Station, West Kensington  17/05/2016 23:55
10216372                                    NaN  17/05/2016 23:55
10216373             Snowsfields, London Bridge  17/05/2016 23:55
10216374        St. James's Square, St. James's  17/05/2016 23:55
10216375          Wellington Row, Bethnal Green  17/05/2016 23:55
10216376           Vicarage Crescent, Battersea  17/05/2016 23:56
10216377   Queen Mother Sports Centre, Victoria  17/05/2016 23:56
10216378              Percival Street, Finsbury  17/05/2016 23:56
10216379               Alfred Place, Bloomsbury  17/05/2016 23:56
10216380                Dickens Square, Borough  17/05/2016 23:57
10216381       Ingrave Street, Clapham Junction  17/05/2016 23:57
10216382           Bancroft Road, Bethnal Green  17/05/2016 23:57
10216383                  Leman Street, Aldgate  17/05/2016 23:57
10216384                  Leman Street, Aldgate  17/05/2016 23:57
10216385               Hinde Street, Marylebone  17/05/2016 23:57
10216386           Haggerston Road, Haggerston   17/05/2016 23:59
10216387          Normand Park, West Kensington  17/05/2016 23:59

          StartStation Id                         StartStation Name  \
0                    14.0            Belgrove Street , King's Cross
1                    71.0               Newgate Street , St. Paul's
2                   475.0                Lightermans Road, Millwall
3                   723.0               Stephendale Road, Sands End
4                   723.0               Stephendale Road, Sands End
5                   358.0              High Holborn , Covent Garden
6                   732.0           Duke Street Hill, London Bridge
7                    69.0                       Euston Road, Euston
8                   644.0               Rainville Road, Hammersmith
9                    14.0            Belgrove Street , King's Cross
10                  125.0          Borough High Street, The Borough
11                  490.0                Pennington Street, Wapping
12                  490.0                Pennington Street, Wapping
13                  202.0                     Leman Street, Aldgate
14                  510.0                  Westferry DLR, Limehouse
15                  510.0                  Westferry DLR, Limehouse
16                  282.0        Royal London Hospital, Whitechapel
17                  488.0                   Reardon Street, Wapping
18                   46.0                    Nesham Street, Wapping
19                  458.0                     Wapping Lane, Wapping
20                  452.0                St. Katharine's Way, Tower
21                  488.0                   Reardon Street, Wapping
22                  488.0                   Reardon Street, Wapping
23                  217.0         Wormwood Street, Liverpool Street
24                  488.0                   Reardon Street, Wapping
25                  104.0                          Crosswall, Tower
26                  276.0             Lower Thames Street, Monument
27                  488.0                   Reardon Street, Wapping
28                   46.0                    Nesham Street, Wapping
29                  488.0                   Reardon Street, Wapping
...                   ...                                       ...
10216358            553.0                Regent's Row , Haggerston
10216359            553.0                Regent's Row , Haggerston
10216360            707.0     Barons Court Station, West Kensington
10216361             37.0               Penywern Road, Earl's Court
10216362             32.0               Leonard Circus , Shoreditch
10216363            553.0                Regent's Row , Haggerston
10216364            327.0                  New North Road 1, Hoxton
10216365            378.0  Natural History Museum, South Kensington
10216366            553.0                Regent's Row , Haggerston
10216367            267.0               Regency Street, Westminster
10216368            225.0   Notting Hill Gate Station, Notting Hill
10216369            329.0     Prince Albert Road, The Regent's Park
10216370            254.0                    Chadwell Street, Angel
10216371            682.0                   Crisp Road, Hammersmith
10216372            278.0                 Tooley Street, Bermondsey
10216373            773.0                     Tallis Street, Temple
10216374            228.0           St. James's Square, St. James's
10216375             73.0            Old Street Station, St. Luke's
10216376            755.0                    The Vale, West Chelsea
10216377            407.0             Speakers' Corner 1, Hyde Park
10216378            331.0                     Bunhill Row, Moorgate
10216379              4.0           St. Chad's Street, King's Cross
10216380            815.0             Lambeth Palace Road, Waterloo
10216381            670.0                Ashley Crescent, Battersea
10216382            486.0                 Granby Street, Shoreditch
10216383            206.0                  New Road 1 , Whitechapel
10216384            206.0                  New Road 1 , Whitechapel
10216385            188.0                 Nutford Place, Marylebone
10216386            749.0              Haggerston Road, Haggerston
10216387            666.0                      Olympia Way, Olympia

          Unnamed: 9  Unnamed: 10  Unnamed: 11  EndStation Logical Terminal  \
0                NaN          NaN          NaN                          NaN
1                NaN          NaN          NaN                          NaN
2                NaN          NaN          NaN                          NaN
3                NaN          NaN          NaN                          NaN
4                NaN          NaN          NaN                          NaN
5                NaN          NaN          NaN                          NaN
6                NaN          NaN          NaN                          NaN
7                NaN          NaN          NaN                          NaN
8                NaN          NaN          NaN                          NaN
9                NaN          NaN          NaN                          NaN
10               NaN          NaN          NaN                          NaN
11               NaN          NaN          NaN                          NaN
12               NaN          NaN          NaN                          NaN
13               NaN          NaN          NaN                          NaN
14               NaN          NaN          NaN                          NaN
15               NaN          NaN          NaN                          NaN
16               NaN          NaN          NaN                          NaN
17               NaN          NaN          NaN                          NaN
18               NaN          NaN          NaN                          NaN
19               NaN          NaN          NaN                          NaN
20               NaN          NaN          NaN                          NaN
21               NaN          NaN          NaN                          NaN
22               NaN          NaN          NaN                          NaN
23               NaN          NaN          NaN                          NaN
24               NaN          NaN          NaN                          NaN
25               NaN          NaN          NaN                          NaN
26               NaN          NaN          NaN                          NaN
27               NaN          NaN          NaN                          NaN
28               NaN          NaN          NaN                          NaN
29               NaN          NaN          NaN                          NaN
...              ...          ...          ...                          ...
10216358         NaN          NaN          NaN                          NaN
10216359         NaN          NaN          NaN                          NaN
10216360         NaN          NaN          NaN                          NaN
10216361         NaN          NaN          NaN                          NaN
10216362         NaN          NaN          NaN                          NaN
10216363         NaN          NaN          NaN                          NaN
10216364         NaN          NaN          NaN                          NaN
10216365         NaN          NaN          NaN                          NaN
10216366         NaN          NaN          NaN                          NaN
10216367         NaN          NaN          NaN                          NaN
10216368         NaN          NaN          NaN                          NaN
10216369         NaN          NaN          NaN                          NaN
10216370         NaN          NaN          NaN                          NaN
10216371         NaN          NaN          NaN                          NaN
10216372         NaN          NaN          NaN                          NaN
10216373         NaN          NaN          NaN                          NaN
10216374         NaN          NaN          NaN                          NaN
10216375         NaN          NaN          NaN                          NaN
10216376         NaN          NaN          NaN                          NaN
10216377         NaN          NaN          NaN                          NaN
10216378         NaN          NaN          NaN                          NaN
10216379         NaN          NaN          NaN                          NaN
10216380         NaN          NaN          NaN                          NaN
10216381         NaN          NaN          NaN                          NaN
10216382         NaN          NaN          NaN                          NaN
10216383         NaN          NaN          NaN                          NaN
10216384         NaN          NaN          NaN                          NaN
10216385         NaN          NaN          NaN                          NaN
10216386         NaN          NaN          NaN                          NaN
10216387         NaN          NaN          NaN                          NaN

          endStationPriority_id  StartStation Logical Terminal
0                           NaN                            NaN
1                           NaN                            NaN
2                           NaN                            NaN
3                           NaN                            NaN
4                           NaN                            NaN
5                           NaN                            NaN
6                           NaN                            NaN
7                           NaN                            NaN
8                           NaN                            NaN
9                           NaN                            NaN
10                          NaN                            NaN
11                          NaN                            NaN
12                          NaN                            NaN
13                          NaN                            NaN
14                          NaN                            NaN
15                          NaN                            NaN
16                          NaN                            NaN
17                          NaN                            NaN
18                          NaN                            NaN
19                          NaN                            NaN
20                          NaN                            NaN
21                          NaN                            NaN
22                          NaN                            NaN
23                          NaN                            NaN
24                          NaN                            NaN
25                          NaN                            NaN
26                          NaN                            NaN
27                          NaN                            NaN
28                          NaN                            NaN
29                          NaN                            NaN
...                         ...                            ...
10216358                    NaN                            NaN
10216359                    NaN                            NaN
10216360                    NaN                            NaN
10216361                    NaN                            NaN
10216362                    NaN                            NaN
10216363                    NaN                            NaN
10216364                    NaN                            NaN

In [11]:
#Clean Data

frame.dropna(axis=0, subset=["Rental Id",
                             "Start Date",
                             "StartStation Id",
                             "StartStation Name",
                             "End Date",
                             "EndStation Id",
                             "Duration"], inplace=True)

frame["Rental Id"] = frame["Rental Id"].astype(int)
frame["EndStation Id"] = frame["EndStation Id"].astype(int)
frame["StartStation Id"] = frame["StartStation Id"].astype(int)

frame = frame[frame["StartStation Id"] != frame["EndStation Id"]]

frame = frame.loc[:,('Start Date',
                           'StartStation Id',
                           'End Date',
                           'EndStation Id',
                           'Duration')]
## Extra drop for duplicates
frame.drop_duplicates(inplace=True)
print(frame.shape)

print(frame)

(8998174, 5)
                Start Date  StartStation Id          End Date  EndStation Id  \
0         28/12/2016 10:35               14  28/12/2016 10:48            427
1         28/12/2016 16:17               71  28/12/2016 16:27             14
3         31/12/2016 10:52              723  31/12/2016 10:57            621
4         30/12/2016 17:33              723  30/12/2016 17:37            621
5         29/12/2016 17:11              358  29/12/2016 17:21            214
6         29/12/2016 16:31              732  29/12/2016 16:52            335
7         29/12/2016 08:52               69  29/12/2016 09:17            278
8         28/12/2016 10:56              644  28/12/2016 11:05            302
9         29/12/2016 09:59               14  29/12/2016 10:12             64
10        31/12/2016 13:48              125  31/12/2016 13:59            136
11        29/12/2016 14:42              490  29/12/2016 14:44             46
12        29/12/2016 18:34              490  29/12/2016 18:40            552
13        30/12/2016 13:23              202  30/12/2016 13:41            272
14        30/12/2016 11:44              510  30/12/2016 12:01            490
15        29/12/2016 11:10              510  29/12/2016 11:24            500
16        29/12/2016 12:21              282  29/12/2016 12:28            202
17        31/12/2016 13:19              488  31/12/2016 13:23             46
18        31/12/2016 13:41               46  31/12/2016 13:45            488
19        30/12/2016 19:54              458  30/12/2016 20:00            452
20        30/12/2016 20:23              452  30/12/2016 20:28            488
21        28/12/2016 07:50              488  28/12/2016 08:03            217
22        29/12/2016 08:00              488  29/12/2016 08:13            217
23        30/12/2016 17:39              217  30/12/2016 17:55            488
24        30/12/2016 07:45              488  30/12/2016 07:59            217
25        29/12/2016 18:26              104  29/12/2016 18:37            488
26        29/12/2016 14:39              276  29/12/2016 14:54            488
27        30/12/2016 11:14              488  30/12/2016 11:17             46
28        30/12/2016 11:40               46  30/12/2016 11:43            488
29        29/12/2016 12:38              488  29/12/2016 12:42            449
30        28/12/2016 14:16              488  28/12/2016 14:18            458
...                    ...              ...               ...            ...
10216348  17/05/2016 23:50               23  17/05/2016 23:54            264
10216349  17/05/2016 23:51              193  17/05/2016 23:56            317
10216352  17/05/2016 23:51              288  18/05/2016 00:03            641
10216353  17/05/2016 23:52              303  18/05/2016 00:22            135
10216354  17/05/2016 23:52              373  18/05/2016 00:06            761
10216355  17/05/2016 23:52              549  18/05/2016 00:01            305
10216356  17/05/2016 23:52                5  18/05/2016 00:00            680
10216360  17/05/2016 23:53              707  17/05/2016 23:56            696
10216361  17/05/2016 23:53               37  18/05/2016 00:02            727
10216362  17/05/2016 23:53               32  18/05/2016 00:06            465
10216363  17/05/2016 23:53              553  18/05/2016 00:11            520
10216364  17/05/2016 23:54              327  17/05/2016 23:58             42
10216365  17/05/2016 23:54              378  18/05/2016 00:03            700
10216366  17/05/2016 23:54              553  18/05/2016 00:02            531
10216367  17/05/2016 23:54              267  17/05/2016 23:59            185
10216368  17/05/2016 23:55              225  18/05/2016 00:00            758
10216369  17/05/2016 23:55              329  18/05/2016 00:01            286
10216371  17/05/2016 23:55              682  17/05/2016 23:59            707
10216373  17/05/2016 23:55              773  18/05/2016 00:04            706
10216375  17/05/2016 23:55               73  18/05/2016 00:02            533
10216376  17/05/2016 23:56              755  18/05/2016 00:03            701
10216377  17/05/2016 23:56              407  18/05/2016 00:19            320
10216378  17/05/2016 23:56              331  18/05/2016 00:04            544
10216379  17/05/2016 23:56                4  18/05/2016 00:04            364
10216380  17/05/2016 23:57              815  18/05/2016 00:03            317
10216381  17/05/2016 23:57              670  18/05/2016 00:05            744
10216382  17/05/2016 23:57              486  18/05/2016 00:20            520
10216383  17/05/2016 23:57              206  18/05/2016 00:02            202
10216385  17/05/2016 23:57              188  18/05/2016 00:04            210
10216387  17/05/2016 23:59              666  18/05/2016 00:06            626

          Duration
0            780.0
1            600.0
3            300.0
4            240.0
5            600.0
6           1260.0
7           1500.0
8            540.0
9            780.0
10           660.0
11           120.0
12           360.0
13          1080.0
14          1020.0
15           840.0
16           420.0
17           240.0
18           240.0
19           360.0
20           300.0
21           780.0
22           780.0
23           960.0
24           840.0
25           660.0
26           900.0
27           180.0
28           180.0
29           240.0
30           120.0
...            ...
10216348     240.0
10216349     300.0
10216352     720.0
10216353    1800.0
10216354     840.0
10216355     540.0
10216356     480.0
10216360     180.0
10216361     540.0
10216362     780.0
10216363    1080.0
10216364     240.0
10216365     540.0
10216366     480.0
10216367     300.0
10216368     300.0
10216369     360.0
10216371     240.0
10216373     540.0
10216375     420.0
10216376     420.0
10216377    1380.0
10216378     480.0
10216379     480.0
10216380     360.0
10216381     480.0
10216382    1380.0
10216383     300.0
10216385     420.0
10216387     420.0

[8998174 rows x 5 columns]

In [13]:
# Cleaning missing data

missing_data = frame.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

AttributeError: 'DataFrame' object has no attribute 'column'